/*********MEDIA Responsive Styles*********/
@media screen and (max-width: 710px) {

    .header-wrapper {
        padding: 8px;
        text-align: center;
        justify-content: space-evenly;
        gap:0;
    }

    header h1 {
        /*font-size: 4.6rem;*/
        /* 46px */
    }

    header p {
       /* font-size: 2.4rem;*/
        /* 24px */
        font-weight: 600;
    }

    header img {
        max-width: 20vw;
    }

    nav a:link,
    a:hover,
    a:visited {
        font-size: 1.6rem;
        /* 12px */
    }

    a:link,
    a:hover,
    a:visited {
        font-size: 1.6rem;
        /* 16px */
    }

    section {
        flex-direction: column;
        /*font-size: 1.6rem;
        line-height: 2.5rem;*/

    }

    .quote {
        min-width: 50%;
        max-width: 90%;
        max-height: fit-content;
        padding: 5px;
        border-radius: 12px;
    }

    /*.quote p {
        font-size: 1.4rem;
    
        line-height: 1.5;
        margin: 0;
    }

    blockquote {
        font-size: 1.4rem;
        
        line-height: 1.5;
        margin: 0;
    }
*/

    footer p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 517px) {

    .header-wrapper {
        padding: 5px;
        text-align: center;
        max-width: 100%;
    }
    .content-wrapper {
        display: block;
        background-position: top center;
    }
/*
    header h1 {
        /*font-size: 3rem;*/
        

    header p {
        /*font-size: 1.5rem;*/
        
        font-weight: 400;
    }*/

    header img {
        max-width: 20vw;
    }

    section {
        flex-direction: column;
        /*font-size: 1.4rem;
        line-height: 3rem;*/

    }

    nav a:link {
        font-size: 1.4rem;
        /* 14px */
    }

    a:link,
    a:hover,
    a:visited {
        font-size: 1.4rem;
        /* 14px */
    }

    .quote {
        min-width: 50%;
        max-width: 90%;
        max-height: fit-content;
        padding: 5px;
        border-radius: 12px;
    }

    .quote p {
        
        margin: 0;
    }

    blockquote {
        
        margin: 0;
    }

    .download {
        top: 20rem;
        /* moves "button" beneath header */
        z-index: 1;
        /* keeps button on top on very narrow screens */
    }

    audio {
        display: block;
        width: 75%;
    }

    .center {
        margin: 24px 72px;
    }
}
