/*------PALETTE------*/
/* Color Theme Swatches in Hex */
.colortheme_analysiswoman_colorful-1-hex {
  color: #196283;
}/*dark blue*/
.colortheme_analysiswoman_colorful-2-hex {
  color: #96C6D9;
}/*light blue*/
.colortheme_analysiswoman_colorful-3-hex {
  color: #013440;
}/*dark teal*/
.colortheme_analysiswoman_colorful-4-hex {
  color: #2D90A6;
}/*teal*/
.colortheme_analysiswoman_colorful-5-hex {
  color: #6CA663;
}/*mid green*/

/*------MONOCHROMATIC SHADES FOR TEXT------*/
.Blue-Shades-1-hex {
  color: #1D3742;
}/*darkest*/
.Blue-Shades-2-hex {
  color: #196283;
}
.Blue-Shades-3-hex {
  color: #B0E6FF;
}
.Blue-Shades-4-hex {
  color: #DBF4FF;
}/*lightest*/

.Teal-Shades-1-hex {
  color: #011C23;
}/*darkest*/
.Teal-Shades-2-hex {
  color: #1B5562;
}
.Teal-Shades-3-hex {
  color: #63AEBF;
}
.Teal-Shades-4-hex {
  color: #C4F4FF;
}

/* Color Variables */
:root {
  --blue-mid: #196283;
  --blue-light: #96C6D9;
  --teal-dark: #013440;
  --teal-mid: #2D90A6;
  --teal-lightest:#C4F4FF;
  --green-mid: #6CA663;
  --green-light: #98E88B;
  --blue-dark-semi: #19628380;/* Semi-transparent dark blue */
  --green-mid-semi: #6CA66380;/* Semi-transparent light green */
}

/*----GLOBAL STYLES----*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Base font size using 62.5% Method*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/*----HEADER STYLES----*/

header {
  background: var(--blue-light);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

nav {
  background: var(--teal-dark);
  padding: 0px;
  display: flex;
  position: sticky;
  top: 0;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 24px;
  padding: 72;
}

nav li {
  display: inline-block;
}

nav a:link {
  color: #35AAC4;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.6rem;
}

nav a:visited {
  color: var(--teal-mid);
}

nav a:hover {
  color: var(--green-mid);
}

.download {
  width:55px;
  background: #C4F4FF;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 10px 20px var(--teal-dark);
  padding:2px 5px 2px 5px;
  position:fixed;
  top: 12px;
  right:12px

}

a:link.download{
  color: #011C23;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  padding: 2px;
 }

 a:hover.download{
  color: var(--green-mid);
  text-decoration: underline;
  }
  
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 12px 12px;
  gap: 24px;
  max-width: 100%;
}

header h1 {
  color: #011C23;
  font-family: "Ink Free", "Papyrus", fantasy;
  font-size: 6.4rem; /* 64px */
  font-weight: bolder;
  margin: 0;
  padding: 12px;
}

header p {
  color: #011C23;
  font-family: "Ink Free",
    "Papyrus",
    fantasy;
  font-size: 2.8rem;/* 28px */
  font-style: oblique;
  font-weight: bold;
  margin: 0;
  padding: 12px;
}
header img {
  max-width: 90px;/* Limit the maximum width of the image */
  height: auto; /* Maintain aspect ratio */
}

/*----GLOBAL BODY STYLES----*/
body {
  background: url(../Images/analysis-woman-840x560.jpg) center fixed no-repeat;
  background-size: cover;
  font-family: Tahoma, Verdana, sans-serif;
  color: #00161b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  font-size: 1.8rem; /*18px*/
  line-height:2rem;
  list-style:square;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: linear-gradient(90deg,
    rgba(0, 53, 53/ 30%) 20%,
    rgba(255 255 255 / 30%) 60%,
    rgba(0 53 53 / 30%) 80%
  ); 
  z-index: -1;
}

h2 {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 2.4rem;/* 24px */
  margin: 0 0 12px;
  text-transform: uppercase;
}

/*p {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0 0 12px;
}*/

li{
  font-size: 1.8rem; 
  list-style:square;
}

blockquote{
  font-size: 1.4rem;
  font-weight: 600;
}

.quote{
  font-size: 1.2rem; /*12px*/
  font-weight: 400;
}

.page-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh; /*height for sticky footer*/
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;/*spacing between sections*/
  padding: 12px;
}

/*----FOOTER STYLES----*/
footer {
  background: var(--teal-dark);
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  color: #35AAC4;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: small;
  height: auto;
  width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socials img {
  width: 30px;
  margin: 0 5px;
}

.socials img:hover {
  opacity: 0.5;
}

.copy {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}

/*----LINK STYLES----*/
a:link{
  color:var(--blue-light);
}
a:hover{
  color:var(--green-mid);
}
a:visited{
  color:var(--teal);
}

/*----UTILITIES----*/
.center{
  display:flex;
  text-align:center;
  align-items:center;
  align-content:center;
  justify-items:center;
  justify-content:center;
}

/*----INDEX PAGE STYLES----*/
.home-section {
  display: flex;
  flex-direction: column;
  background: var(--blue-dark-semi);
  padding: 12px;
  margin: 24px 36px;
  border-radius: 8px;
  max-width: 100%;
  min-width: fit-content;
  
}

.home-section h2 {
  border-bottom: var(--teal-dark) dashed 2px;
  color: var(--green-light);
}

.home-quote {
  background: var(--green-mid-semi);
  padding: 5px 12px;
  margin: auto;
  max-width: fit-content;
  border-radius: 40px;
  color: #011C23;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-quote p {
  font-size: 1.4rem;
  /* 14px */
  line-height: 1.5;
  margin: 0;
}
/*----ABOUT PAGE STYLES----*/
.about-section {
  background: var(--blue-dark-semi);
  padding: 12px;
  margin: 24px 72px;
  border-radius: 8px;
}

.about-section h2 {
  border-bottom: var(--teal-dark) dashed 2px;
  color: var(--green-light);
}

.checklist li{
  list-style-image: url(../Images/checkmark-20px.png);
}

.about-quote {
  background: var(--green-mid-semi);
  padding: 12px;
  margin: auto;
  max-width: 50%;
  border-radius: 50px;
  color: #011C23;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*----PORTFOLIO PAGE STYLES----*/
.portfolio-section {
  background: var(--blue-dark-semi);
  padding: 12px;
  margin: 24px 36px;
  border-radius: 8px;
  max-width: 100%;
  min-width: fit-content;
}

.portfolio-section h2 {
  border-bottom: var(--teal-dark) dashed 2px;
  color: var(--green-light);
}

.portfolio-quote {
  background: var(--green-mid-semi);
  padding: 12px;
  margin: auto;
  max-width: 50%;
  border-radius: 50px;
  color: #011C23;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*----CONTACT PAGE STYLES----*/
.contact-section {
  background: var(--blue-dark-semi);
  padding: 12px;
  margin: 24px 36px;
  border-radius: 8px;
  /*max-width: 100%;*/
  /*min-width: 100%;*/
  align-content: center;
}

.contact-section h2 {
  border-bottom: var(--teal-dark) dashed 2px;
  color: var(--green-light);
}

.contact-quote {
  background: var(--green-mid-semi);
  padding: 12px;
  margin: auto;
  max-width: 50%;
  border-radius: 50px;
  color: #011C23;
  display: flex;
  flex-direction: column;
  align-items: center;

}
